<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- *ngIf ensures data has loaded before initializing charts -->
    <app-bar-chart class="col-12 col-md-6" *ngIf="fires" [fires]="fires"></app-bar-chart>
    <app-pie-chart class="col-12 col-md-6" *ngIf="fires" [fires]="fires" [deleteFire]="deleteFire"></app-pie-chart>

    <div class="col col-12 col-lg-8 vertical-scroll">
      <table class="table table-sm table-striped">
        <thead class="thead">
          <th>Name</th>
          <th>County</th>
          <th>Acres</th>
          <th>Cause</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let fire of fires">
            <td>{{fire.Name}}</td>
            <td>{{fire.County}}</td>
            <td>{{fire.Acres}}</td>
            <td>{{fire.Cause}}</td>
            <td>
             <button (click)="delete(fire)" type="button" class="btn btn-danger">Remove</button>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
