/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}
.half-view-height {
  height: 60vh;
  min-height: 375px
}

.show-content-overflow {
  overflow: visible !important;
}
